/* :host ::ng-deep {
    .p-progressbar {
        height: .5rem;
        background-color: #D8DADC;

        .p-progressbar-value {
            background-color: #607D8B;
        }
    }
} */

.table_header {
    text-align: center;

}

.table_header_data {
    text-align: center;
}

.table_header_data_name {
    text-align: center;
    float: left;
}

.userImage {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    margin: 0 .5em;

}

.iconDownload {
    font-size: 1.1em;
    color: slateblue;
    padding: .5em;
    border-radius: 8%;
    border: solid #D8DADC 1px;
    background-color: rgb(224, 222, 230);
}

.iconDownload2 {
    font-size: 1.1em;
    color: slateblue;
    padding: .5em;
    border-radius: 8%;
    border: solid #D8DADC 1px;
    
}

/* ::ng-deep .p-ripple {
    background-color: slateblue;
    color: #D8DADC;
} */
/* ::ng-deep .p-paginator-element:hover:focus:active .p-link:hover:focus:active {
    background-color: slateblue;
    color: #D8DADC;
    border-radius: 8%;
} */

/* ::ng-deep .p-highlight:hover:focus:active .p-link:hover:focus:active {
    background-color: slateblue;
    color: #D8DADC;
    border-radius: 8%;
} */

::ng-deep .p-highlight {
    background-color: slateblue !important;
    color: #D8DADC;
    border-radius: 8%;
}

::ng-deep .p-ripple:focus {
    background-color: slateblue;
    color: #D8DADC;
    border-radius: 8%;
}
::ng-deep .p-inputswitch-checked {
    background-color: slateblue;
    color: #D8DADC;
    border-radius: 8%;
}

::ng-deep .p-inputswitch-slider:hover{
    background-color: slateblue;
    color: #D8DADC;
    border-radius: 8%;
}

::ng-deep .p-paginator-rpp-options {
    color: slateblue;
    border-radius: 8%;
    width: 5em;
}

::ng-deep .p-paginator {
    display: flex;
    justify-content: space-between;
    direction: ltr !important;

}

::ng-deep .p-dropdown-items {
    margin: 0;
    padding: 0;

}

::ng-deep .p-paginator-first {
    display: none;

}
::ng-deep  .p-paginator-last {
    display: none;

}
.iconTextSmall{
    color: #607D8B;
    font-size: .8em;
}
.iconText{
font-size: 1em;
}
